* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
     background: linear-gradient(
    135deg,
    #f4f7fb 0%,
    #e9eef5 100%
  );
}

.container {
    max-width: 64rem;
    min-width: 295px;
    width: 100vw;
    height: 465px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    padding: 2rem 0;
    margin: 4rem 1rem 0 1rem;
}


@media (max-width: 46.563rem) {
    .container {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .conteinerBtn {
        flex-direction: column;
        gap: 1.5rem;
        
    }
    
}